version: "3"

services:
  db:
    container_name: spend-track-db
    image: postgres:16.10
    volumes:
      - postgres-db:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=123456
    ports:
      - 5432:5432

volumes:
  postgres-db:
